
html, body{
	height: 100%;
}
.dj-mainWrapper{
	height: 100%;
	margin-top: 65px;
	background-color: inherit;
}
.dj-headerContainer{
	background-color: purple;
	padding: 15px;
	width: 100%;
	height: 80px;
}
.dj-headerContainer *{
	color: #fff;
}
.dj-headerLeft{
	float: left;
}
.dj-headerRight{
	float: right;
}
.dj-menuButton{
	font-size: 30px;
	background-color: transparent;
	border: none;
	vertical-align: bottom;
}
.dj-headerSearch{
	margin-bottom: 0;
}
h3{
	margin-top: 0;
}


/*SLIDEBAR OVERRIDES*/
.sb-slidebar{
	background-color: #fff;
}
#sb-site{
	background-color: #eee;
}
